<nav class="navbar navbar-expand navbar-light bg-light d-flex justify-content-between">

    <div class="nav navbar-nav ">
        <a class="nav-item nav-link active" href="#">Blog101 <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="#">Home</a>
    </div>
    <div class="nav navbar-nav d-flex justify-content-end">
        <a href="{% url 'home' %}" class="nav-item nav-link">Home</a>
        <a href="{% url 'about' %}" class="nav-item nav-link">About</a>
        <a href="{% url 'contact' %}" class="nav-item nav-link">Contact Us</a>
        {% if user.username %}
        <a href="{% url 'admin:logout' %}" class="nav-item nav-link">Sign Out</a>
        {% else %}
        <a href="{% url 'admin:login' %}" class="nav-item nav-link">Sign in</a>
        {% endif %}
    </div>
</nav>