{% extends 'base.html' %}

{% block title %}

<title>Contact Us</title>

{% endblock title %}

{% block content %}

<h1 class="text-center text-muted my-5">Contact Us</h1>
<div class="row">
    <div class="col-8">
        <p><b>Mail us at:</b></p
        <address class="my-2 mx-3">

        <strong>Blog101 Inc,</strong><br>
        RT Nagar, PO.342043<br>
        Bangalore<br>
        Karnataka
        </address>

        
    </div>
    <div class="col-4">
        
    </div>
</div>

{% endblock content %}