{% extends 'base.html' %}
{% load humanize %}

{% block title %}

<title>{{article.title}}</title>

{% endblock title %}

{% block content %}

<h1 class="text-center text-muted">{{article.title}}</h1>
<div class="text-center">
<span class="mr-4"><i class="fa fa-clock-o mr-2"></i><small>Published on: {{article.published_on|timesince}}</small></span>
<span><i class="fa fa-user mr-2"></i><small><strong>Writer:&nbsp; {{article.writer.username|title}}</strong></small></span>
</div>

    {% if article.title_image %}
        <div class="container mx-auto my-4 mt-5 d-flex justify-content-center">
            <img src="{{article.title_image.url}}" alt="not found">
        </div>
    {% endif %}


<div class="container my-5">
    

    {{article.body}}
</div>

<div class="float-left my-5">
    <form method="POST" class="my-5">
        {% csrf_token %}
        {{form}}
        <button type="save" class="btn btn-success">Submit</button>
    </form>
</div>

<hr>

<div class="container float-left mb-5">
    <ul class="reviews list-group">
        {% for review in article.reviews.all %}
            <li class="list-group-item mb-3">
                <span>User: {{review.user.username}}</span> <br>
                <span id="stars">{{review.stars}}</span><br>
                <span>Feedback: {{review.feedback}}</span>
            </li>
        {% endfor %}
    </ul>
</div>

<script>
    const stars = document.querySelectorAll('#stars')
    let allStars = []
    
    //console.log(allStars)
    for (star of stars){
        starStr = star.textContent
        switch(starStr){
        case 'one':
            starNum = 1;
            break;
        case 'two':
            starNum = 2;
            break;
        case 'three':
            starNum = 3;
            break;
        case 'four':
            starNum = 4;
            break;
        case 'five':
            starNum = 5;
            break;
        default:
            starNum = 0;
    }
       star.textContent = `${starNum} ⭐`
       
    }
    
</script>


{% endblock content %}